body {
  font-family:'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #64b0ab;
}

.bg-transparent {
  background-color: transparent !important;
}

.bg-card {
  background-color: rgba(0, 0, 0, 0.114);
}


.content {
  height: 95vh;
  color: black;
}

.icon:hover , .bg-card:hover {
  transition: all .05s linear !important;
  filter: drop-shadow( 2px 3px 4px rgb(0 0 0 / 0.4));
  color: rgba(0, 0, 0, 0.79);
  cursor: pointer;
}

.project-card {
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(10px);
}

.text-blk{
  color: black;
}


#name {
  font-size: 80px;
}

body::-webkit-scrollbar-track {
  background: transparent;     
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}
body::-webkit-scrollbar {
  display: none;
  scrollbar-width: none; 
}
